body {
  background-color: #b4b7fd;
}

.container {
  display: flex;
  justify-content: center;
}

#jeopardy {
  text-align: center;
  font-size: 18px;
  background-color: #060ce9;
  color: white;
  border-collapse: collapse;
}

#jeopardy th,
#jeopardy td {
  border: solid 5px #b4b7fd;
  width: 10em;
  padding: 1em;
}

th {
  /* font-family: Helvetica, sans-serif;
  font-weight: bold; */
  height: 4em;
  text-shadow: darkgoldenrod 1px 1px;
}

td {
  height: 9em;
  font-family: "Copse";
}

td:hover {
  cursor: pointer;
}

.category {
  text-transform: uppercase;
}
