body {
  background-color: #b4b7fd;
}

.container {
  display: flex;
  justify-content: center;
}

#jeopardy {
  text-align: center;
  font-size: 18px;
  background-color: #060ce9;
  color: white;
  border-collapse: collapse;
}

#jeopardy th,
#jeopardy td {
  border: solid 5px #b4b7fd;
  width: 10em;
  padding: 1em;
}

td {
  height: 9em;
  font-family: "Roboto";
}

td:hover {
  cursor: pointer;
}

.category > td {
  text-transform: uppercase;
  text-shadow: darkgoldenrod 2px 2px;
}
